Client/WPFWCFClient/Location.WCFServiceReferences/Service References/LocationServices/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Data" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Location.TModel.LocationHistory.Data" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Location.TModel.Location" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Person" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Location.TModel.FuncArgs" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Alarm" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TModel.BaseData" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TModel.Location.Work" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TModel.LocationHistory.Work" />
  <xs:element name="GetTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetTagsResult" nillable="true" type="q1:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="tags" nillable="true" type="q2:ArrayOfTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTagsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTagResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllTags">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAllTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAllTagsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRealPositons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRealPositonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Data" minOccurs="0" name="GetRealPositonsResult" nillable="true" type="q3:ArrayOfTagPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRealPositonsByTags">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="tagCodes" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRealPositonsByTagsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Data" minOccurs="0" name="GetRealPositonsByTagsResult" nillable="true" type="q5:ArrayOfTagPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryPositons">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryPositonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Location.TModel.LocationHistory.Data" minOccurs="0" name="GetHistoryPositonsResult" nillable="true" type="q6:ArrayOfPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryPositonsByPersonnelID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personnelID" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryPositonsByPersonnelIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Location.TModel.LocationHistory.Data" minOccurs="0" name="GetHistoryPositonsByPersonnelIDResult" nillable="true" type="q7:ArrayOfPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryPositonsByPidAndTopoNodeIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="personnelID" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="topoNodeIds" nillable="true" type="q8:ArrayOfint" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryPositonsByPidAndTopoNodeIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Location.TModel.LocationHistory.Data" minOccurs="0" name="GetHistoryPositonsByPidAndTopoNodeIdsResult" nillable="true" type="q9:ArrayOfPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryPositonsByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryPositonsByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Location.TModel.LocationHistory.Data" minOccurs="0" name="GetHistoryPositonsByTimeResult" nillable="true" type="q10:ArrayOfPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStrs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStrsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStrsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddU3DPosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Location.TModel.LocationHistory.Data" minOccurs="0" name="pList" nillable="true" type="q11:ArrayOfU3DPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddU3DPositionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddU3DPositions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Location.TModel.LocationHistory.Data" minOccurs="0" name="list" nillable="true" type="q12:ArrayOfU3DPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddU3DPositionsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryU3DPositonsByTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tagcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryU3DPositonsByTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Location.TModel.LocationHistory.Data" minOccurs="0" name="GetHistoryU3DPositonsByTimeResult" nillable="true" type="q13:ArrayOfU3DPosition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectAddList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetObjectAddListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetObjectAddListResult" nillable="true" type="q14:ArrayOfObjectAddList_Type" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevPositions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetDevPositionsResult" nillable="true" type="q15:ArrayOfDevPos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDevPosInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="pos" nillable="true" type="q16:DevPos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDevPosInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDevPosInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDevPosByList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="posList" nillable="true" type="q17:ArrayOfDevPos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDevPosByListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDevPosByListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPosInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="pos" nillable="true" type="q18:DevPos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPosInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyPosInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPosByList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="posList" nillable="true" type="q19:ArrayOfDevPos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyPosByListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyPosByListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePosInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="pos" nillable="true" type="q20:DevPos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePosInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePosInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDevInfos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDevInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetAllDevInfosResult" nillable="true" type="q21:ArrayOfDevInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="typeList" nillable="true" type="q22:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetDevInfosResult" nillable="true" type="q23:ArrayOfDevInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDevInfos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindDevInfosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="FindDevInfosResult" nillable="true" type="q24:ArrayOfDevInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDevInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="devInfo" nillable="true" type="q25:DevInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDevInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="AddDevInfoResult" nillable="true" type="q26:DevInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDevInfoByList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="devInfoList" nillable="true" type="q27:ArrayOfDevInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDevInfoByListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDevInfoByListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyDevInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="devInfo" nillable="true" type="q28:DevInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyDevInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyDevInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDevInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="devInfo" nillable="true" type="q29:DevInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDevInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDevInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevInfoByParent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pids" nillable="true" type="q30:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDevInfoByParentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetDevInfoByParentResult" nillable="true" type="q31:ArrayOfDevInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDoorAccessByList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="doorAccessList" nillable="true" type="q32:ArrayOfDev_DoorAccess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDoorAccessByListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDoorAccessByListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDoorAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="doorAccess" nillable="true" type="q33:Dev_DoorAccess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDoorAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDoorAccessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDoorAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="doorAccessList" nillable="true" type="q34:ArrayOfDev_DoorAccess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDoorAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDoorAccessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyDoorAccess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="doorAccessList" nillable="true" type="q35:ArrayOfDev_DoorAccess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyDoorAccessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyDoorAccessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoorAccessInfoByParent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pids" nillable="true" type="q36:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDoorAccessInfoByParentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetDoorAccessInfoByParentResult" nillable="true" type="q37:ArrayOfDev_DoorAccess" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKKSInfoByNodeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKKSInfoByNodeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetKKSInfoByNodeIdResult" nillable="true" type="q38:KKSCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKKSInfoByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKKSInfoByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetKKSInfoByCodeResult" nillable="true" type="q39:KKSCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindKKSInfoByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindKKSInfoByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="FindKKSInfoByNameResult" nillable="true" type="q40:KKSCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKKSCodeByNodeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKKSCodeByNodeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetKKSCodeByNodeIdResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindKKSCodeByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindKKSCodeByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FindKKSCodeByNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhysicalTopologyList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhysicalTopologyListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetPhysicalTopologyListResult" nillable="true" type="q41:ArrayOfPhysicalTopology" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhysicalTopologyTree">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPhysicalTopologyTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetPhysicalTopologyTreeResult" nillable="true" type="q42:PhysicalTopology" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParkMonitorRange">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetParkMonitorRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetParkMonitorRangeResult" nillable="true" type="q43:ArrayOfPhysicalTopology" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloorMonitorRange">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloorMonitorRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetFloorMonitorRangeResult" nillable="true" type="q44:ArrayOfPhysicalTopology" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloorMonitorRangeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFloorMonitorRangeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetFloorMonitorRangeByIdResult" nillable="true" type="q45:ArrayOfPhysicalTopology" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMonitorRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="pt" nillable="true" type="q46:PhysicalTopology" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditMonitorRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditMonitorRangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMonitorRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="pt" nillable="true" type="q47:PhysicalTopology" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMonitorRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMonitorRangeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConfigArg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="config" nillable="true" type="q48:ConfigArg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConfigArgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddConfigArgResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConfigArg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="config" nillable="true" type="q49:ConfigArg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditConfigArgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditConfigArgResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConfigArg">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="config" nillable="true" type="q50:ConfigArg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteConfigArgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteConfigArgResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigArg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigArgResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetConfigArgResult" nillable="true" type="q51:ConfigArg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigArgList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigArgListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetConfigArgListResult" nillable="true" type="q52:ArrayOfConfigArg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigArgByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConfigArgByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetConfigArgByKeyResult" nillable="true" type="q53:ConfigArg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConfigArgListByKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConfigArgListByKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="FindConfigArgListByKeyResult" nillable="true" type="q54:ArrayOfConfigArg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConfigArgListByClassify">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindConfigArgListByClassifyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="FindConfigArgListByClassifyResult" nillable="true" type="q55:ArrayOfConfigArg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferOfAxesConfig">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransferOfAxesConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Location.TModel.Location" minOccurs="0" name="GetTransferOfAxesConfigResult" nillable="true" type="q56:TransferOfAxesConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTransferOfAxesConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Location.TModel.Location" minOccurs="0" name="config" nillable="true" type="q57:TransferOfAxesConfig" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTransferOfAxesConfigResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTransferOfAxesConfigResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Person" minOccurs="0" name="GetPersonListResult" nillable="true" type="q58:ArrayOfPersonnel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPersonList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPersonListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Person" minOccurs="0" name="FindPersonListResult" nillable="true" type="q59:ArrayOfPersonnel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Person" minOccurs="0" name="GetPersonResult" nillable="true" type="q60:Personnel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Person" minOccurs="0" name="p" nillable="true" type="q61:Personnel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPersonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Person" minOccurs="0" name="p" nillable="true" type="q62:Personnel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditPersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePersonResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationAlarms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Location.TModel.FuncArgs" minOccurs="0" name="arg" nillable="true" type="q63:AlarmSearchArg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Alarm" minOccurs="0" name="GetLocationAlarmsResult" nillable="true" type="q64:ArrayOfLocationAlarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceAlarms">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Location.TModel.FuncArgs" minOccurs="0" name="arg" nillable="true" type="q65:AlarmSearchArg" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceAlarmsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Alarm" minOccurs="0" name="GetDeviceAlarmsResult" nillable="true" type="q66:ArrayOfDeviceAlarm" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPostListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="GetPostListResult" nillable="true" type="q67:ArrayOfPost" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/TModel.BaseData" minOccurs="0" name="GetTicketListResult" nillable="true" type="q68:ArrayOfTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketDetial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketDetialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/TModel.BaseData" minOccurs="0" name="GetTicketDetialResult" nillable="true" type="q69:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationTicketList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationTicketListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/TModel.Location.Work" minOccurs="0" name="GetOperationTicketListResult" nillable="true" type="q70:ArrayOfOperationTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkTicketList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkTicketListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/TModel.Location.Work" minOccurs="0" name="GetWorkTicketListResult" nillable="true" type="q71:ArrayOfWorkTicket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileInspectionDevList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileInspectionDevListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/TModel.Location.Work" minOccurs="0" name="GetMobileInspectionDevListResult" nillable="true" type="q72:ArrayOfMobileInspectionDev" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileInspectionList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMobileInspectionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/TModel.Location.Work" minOccurs="0" name="GetMobileInspectionListResult" nillable="true" type="q73:ArrayOfMobileInspection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelMobileInspectionList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelMobileInspectionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/TModel.Location.Work" minOccurs="0" name="GetPersonnelMobileInspectionListResult" nillable="true" type="q74:ArrayOfPersonnelMobileInspection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationItemHistoryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationItemHistoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/TModel.LocationHistory.Work" minOccurs="0" name="GetOperationItemHistoryListResult" nillable="true" type="q75:ArrayOfOperationItemHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkTicketHistoryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkTicketHistoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/TModel.LocationHistory.Work" minOccurs="0" name="GetWorkTicketHistoryListResult" nillable="true" type="q76:ArrayOfWorkTicketHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelMobileInspectionHistoryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonnelMobileInspectionHistoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/TModel.LocationHistory.Work" minOccurs="0" name="GetPersonnelMobileInspectionHistoryListResult" nillable="true" type="q77:ArrayOfPersonnelMobileInspectionHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Hello">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="msg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Person" minOccurs="0" name="GetDepartmentListResult" nillable="true" type="q78:ArrayOfDepartment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentTree">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentTreeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Person" minOccurs="0" name="GetDepartmentTreeResult" nillable="true" type="q79:Department" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>