Client/WPFWCFClient/WCFServiceForWPF/Service References/LocationServices/Location.TModel.LocationHistory.Data1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Location.TModel.LocationHistory.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Location.TModel.LocationHistory.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Position" nillable="true" type="tns:Position" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPosition" nillable="true" type="tns:ArrayOfPosition" />
  <xs:complexType name="Position">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Archors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="ArchorsText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaState" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MoveState" type="xs:int" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="PersonnelID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Power" type="xs:int" />
      <xs:element minOccurs="0" name="PowerState" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:long" />
      <xs:element minOccurs="0" name="TopoNodeId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="X" type="xs:float" />
      <xs:element minOccurs="0" name="Y" type="xs:float" />
      <xs:element minOccurs="0" name="Z" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Position" nillable="true" type="tns:Position" />
  <xs:complexType name="ArrayOfU3DPosition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="U3DPosition" nillable="true" type="tns:U3DPosition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfU3DPosition" nillable="true" type="tns:ArrayOfU3DPosition" />
  <xs:complexType name="U3DPosition">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Power" type="xs:int" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" type="xs:long" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
      <xs:element minOccurs="0" name="Z" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="U3DPosition" nillable="true" type="tns:U3DPosition" />
</xs:schema>