Client/WPFWCFClient/WCFServiceForWPF/Service References/LocationServices/Location.TModel.FuncArgs1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Location.TModel.FuncArgs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Location.TModel.FuncArgs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AlarmSearchArg">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Keyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmSearchArg" nillable="true" type="tns:AlarmSearchArg" />
</xs:schema>