Client/WPFWCFClient/WCFServiceForWPF/Service References/LocationServices/Location.TModel.FuncArgs1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Location.TModel.FuncArgs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Location.TModel.FuncArgs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AlarmSearchArg">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="DevTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="End" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAll" type="xs:boolean" />
      <xs:element minOccurs="0" name="Keyword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Level" type="xs:int" />
      <xs:element minOccurs="0" name="Page" nillable="true" type="tns:PageInfo" />
      <xs:element minOccurs="0" name="Start" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlarmSearchArg" nillable="true" type="tns:AlarmSearchArg" />
  <xs:complexType name="PageInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Number" type="xs:int" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageInfo" nillable="true" type="tns:PageInfo" />
</xs:schema>