Client/WPFWCFClient/WCFServiceForWPF/Service References/LocationServices/Location.TModel.Location.Alarm1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Alarm" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Alarm" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DbModel.Tools" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Person" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" />
  <xs:complexType name="ArrayOfLocationAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationAlarm" nillable="true" type="tns:LocationAlarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationAlarm" nillable="true" type="tns:ArrayOfLocationAlarm" />
  <xs:complexType name="LocationAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmId" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DbModel.Tools" minOccurs="0" name="AlarmLevel" type="q1:LocationAlarmLevel" />
      <xs:element minOccurs="0" name="AlarmTimeStamp" type="xs:long" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DbModel.Tools" minOccurs="0" name="AlarmType" type="q2:LocationAlarmType" />
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="CardRoleId" type="xs:int" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HandleTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="HandleTimeStamp" type="xs:long" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DbModel.Tools" minOccurs="0" name="HandleType" type="q3:LocationAlarmHandleType" />
      <xs:element minOccurs="0" name="Handler" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Location.TModel.Location.Person" minOccurs="0" name="Personnel" nillable="true" type="q4:Personnel" />
      <xs:element minOccurs="0" name="PersonnelId" type="xs:int" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="Tag" nillable="true" type="q5:Tag" />
      <xs:element minOccurs="0" name="TagId" type="xs:int" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationAlarm" nillable="true" type="tns:LocationAlarm" />
  <xs:complexType name="ArrayOfDeviceAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeviceAlarm" nillable="true" type="tns:DeviceAlarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeviceAlarm" nillable="true" type="tns:ArrayOfDeviceAlarm" />
  <xs:complexType name="DeviceAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abutment_Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AlarmTimeStamp" type="xs:long" />
      <xs:element minOccurs="0" name="AreaId" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DevId" type="xs:int" />
      <xs:element minOccurs="0" name="DevName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DevTypeCode" type="xs:int" />
      <xs:element minOccurs="0" name="DevTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Device_desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DbModel.Tools" minOccurs="0" name="Level" type="q6:Abutment_DevAlarmLevel" />
      <xs:element minOccurs="0" name="LevelName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/DbModel.Tools" minOccurs="0" name="Src" type="q7:Abutment_DevAlarmSrc" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceAlarm" nillable="true" type="tns:DeviceAlarm" />
</xs:schema>