Client/WPFWCFClient/WCFServiceForWPF/Service References/LocationServices/Location.TModel.Location1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Location.TModel.Location" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Location.TModel.Location" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" />
  <xs:complexType name="TransferOfAxesConfig">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="Direction" nillable="true" type="q1:ConfigArg" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="Scale" nillable="true" type="q2:ConfigArg" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="Zero" nillable="true" type="q3:ConfigArg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransferOfAxesConfig" nillable="true" type="tns:TransferOfAxesConfig" />
</xs:schema>