Client/WPFWCFClient/WCFServiceForWPF/Service References/LocationServices/LocationServices.Locations.Plugins.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LocationServices.Locations.Plugins" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LocationServices.Locations.Plugins" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DownloadInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CId" type="xs:int" />
      <xs:element minOccurs="0" name="Channel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DId" type="xs:int" />
      <xs:element minOccurs="0" name="EndTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="StartTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadInfo" nillable="true" type="tns:DownloadInfo" />
  <xs:complexType name="DownloadProgress">
    <xs:sequence>
      <xs:element minOccurs="0" name="DId" type="xs:int" />
      <xs:element minOccurs="0" name="IsFinished" type="xs:boolean" />
      <xs:element minOccurs="0" name="Progress" type="xs:int" />
      <xs:element minOccurs="0" name="ProgressText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadProgress" nillable="true" type="tns:DownloadProgress" />
</xs:schema>