Client/WPFWCFClient/WCFServiceForWPF/Service References/LocationServices/TModel.Location.AreaAndDev.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TModel.Location.AreaAndDev" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TModel.Location.AreaAndDev" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DbModel.Tools" />
  <xs:complexType name="ArrayOfArchor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Archor" nillable="true" type="tns:Archor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchor" nillable="true" type="tns:ArrayOfArchor" />
  <xs:complexType name="Archor">
    <xs:sequence>
      <xs:element minOccurs="0" name="AliveTime" type="xs:double" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Location.TModel.Location.AreaAndDev" minOccurs="0" name="DevInfo" nillable="true" type="q1:DevInfo" />
      <xs:element minOccurs="0" name="DevInfoId" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DbModel.Tools" minOccurs="0" name="Enable" type="q2:IsStart" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAutoIp" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Power" type="xs:double" />
      <xs:element minOccurs="0" name="ServerIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServerPort" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DbModel.Tools" minOccurs="0" name="Type" type="q3:ArchorTypes" />
      <xs:element minOccurs="0" name="X" type="xs:double" />
      <xs:element minOccurs="0" name="Y" type="xs:double" />
      <xs:element minOccurs="0" name="Z" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Archor" nillable="true" type="tns:Archor" />
</xs:schema>