Client/WPFWCFClient/WCFServiceForWPF/Service References/LocationServices/TModel.BaseData1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TModel.BaseData" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TModel.BaseData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ticket" nillable="true" type="tns:Ticket" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTicket" nillable="true" type="tns:ArrayOfTicket" />
  <xs:complexType name="Ticket">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
      <xs:element minOccurs="0" name="WorkerIds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneIds" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ticket" nillable="true" type="tns:Ticket" />
</xs:schema>