Client/WPFWCFClient/WCFServiceForWPF/Service References/LocationServices/TModel.LocationHistory.AreaAndDev.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TModel.LocationHistory.AreaAndDev" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TModel.LocationHistory.AreaAndDev" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEntranceGuardActionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EntranceGuardActionInfo" nillable="true" type="tns:EntranceGuardActionInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEntranceGuardActionInfo" nillable="true" type="tns:ArrayOfEntranceGuardActionInfo" />
  <xs:complexType name="EntranceGuardActionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AreadId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="AreadName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="nInOutState" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntranceGuardActionInfo" nillable="true" type="tns:EntranceGuardActionInfo" />
</xs:schema>