Client/WPFWCFClient/WCFServiceForWPF/Service References/LocationServices/TModel.Location.Manage1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TModel.Location.Manage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TModel.Location.Manage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Authority" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientIp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientPort" type="xs:int" />
      <xs:element minOccurs="0" name="IsEncrypted" type="xs:boolean" />
      <xs:element minOccurs="0" name="LiveTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LoginTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" type="xs:boolean" />
      <xs:element minOccurs="0" name="Session" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginInfo" nillable="true" type="tns:LoginInfo" />
  <xs:complexType name="VersionInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocationURL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VersionInfo" nillable="true" type="tns:VersionInfo" />
</xs:schema>