Client/WPFWCFClient/WCFServiceForWPF/Service References/LocationServices/WebApiCommunication.ExtremeVision.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebApiCommunication.ExtremeVision" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebApiCommunication.ExtremeVision" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCameraAlarmInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CameraAlarmInfo" nillable="true" type="tns:CameraAlarmInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCameraAlarmInfo" nillable="true" type="tns:ArrayOfCameraAlarmInfo" />
  <xs:complexType name="CameraAlarmInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlameData" nillable="true" type="tns:FlameData" />
      <xs:element minOccurs="0" name="HeadData" nillable="true" type="tns:HeadData" />
      <xs:element minOccurs="0" name="aid" type="xs:int" />
      <xs:element minOccurs="0" name="cid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cid_url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="pic_data" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pic_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startInfo" nillable="true" type="tns:CameraAlarmInfo" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="time" type="xs:dateTime" />
      <xs:element minOccurs="0" name="time_stamp" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CameraAlarmInfo" nillable="true" type="tns:CameraAlarmInfo" />
  <xs:complexType name="FlameData">
    <xs:sequence>
      <xs:element minOccurs="0" name="alertFlag" type="xs:int" />
      <xs:element minOccurs="0" name="flameInfo" nillable="true" type="tns:ArrayOfFlameInfo" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numOfFlameRects" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlameData" nillable="true" type="tns:FlameData" />
  <xs:complexType name="ArrayOfFlameInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlameInfo" nillable="true" type="tns:FlameInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlameInfo" nillable="true" type="tns:ArrayOfFlameInfo" />
  <xs:complexType name="FlameInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="height" type="xs:float" />
      <xs:element minOccurs="0" name="width" type="xs:float" />
      <xs:element minOccurs="0" name="x" type="xs:float" />
      <xs:element minOccurs="0" name="y" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlameInfo" nillable="true" type="tns:FlameInfo" />
  <xs:complexType name="HeadData">
    <xs:sequence>
      <xs:element minOccurs="0" name="alertFlag" type="xs:int" />
      <xs:element minOccurs="0" name="headInfo" nillable="true" type="tns:ArrayOfHeadInfo" />
      <xs:element minOccurs="0" name="numOfHead" type="xs:int" />
      <xs:element minOccurs="0" name="timeStamp" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeadData" nillable="true" type="tns:HeadData" />
  <xs:complexType name="ArrayOfHeadInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HeadInfo" nillable="true" type="tns:HeadInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHeadInfo" nillable="true" type="tns:ArrayOfHeadInfo" />
  <xs:complexType name="HeadInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="height" type="xs:float" />
      <xs:element minOccurs="0" name="numOfHelmet" type="xs:float" />
      <xs:element minOccurs="0" name="width" type="xs:float" />
      <xs:element minOccurs="0" name="x" type="xs:float" />
      <xs:element minOccurs="0" name="y" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeadInfo" nillable="true" type="tns:HeadInfo" />
</xs:schema>