Client/Location.WCFServiceReferences/Service References/LocationServices/Location.Model.Base.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Location.Model.Base" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Location.Model.Base" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Bound">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxX" type="xs:float" />
      <xs:element minOccurs="0" name="MaxY" type="xs:float" />
      <xs:element minOccurs="0" name="MaxZ" type="xs:float" />
      <xs:element minOccurs="0" name="MinX" type="xs:float" />
      <xs:element minOccurs="0" name="MinY" type="xs:float" />
      <xs:element minOccurs="0" name="MinZ" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bound" nillable="true" type="tns:Bound" />
</xs:schema>