Server/RsetfulSvr/RsetfulServiceReferences/Service References/LocationCallbackServices/Location.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Location.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Location.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLocationAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LocationAlarm" nillable="true" type="tns:LocationAlarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLocationAlarm" nillable="true" type="tns:ArrayOfLocationAlarm" />
  <xs:complexType name="LocationAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationAlarm" nillable="true" type="tns:LocationAlarm" />
</xs:schema>